certifi==2026.4.22
charset-normalizer==3.4.7
et_xmlfile==2.0.0
idna==3.13
narwhals==2.20.0
nba_api==1.11.4
numpy==2.4.4
openpyxl==3.1.5
packaging==26.2
pandas==3.0.2
plotly==6.7.0
python-dateutil==2.9.0.post0
RapidFuzz==3.14.5
requests==2.33.1
six==1.17.0
urllib3==2.6.3
